@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  color: rgb(var(--foreground-rgb)); 
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ai-grid{
  background-image: linear-gradient(rgba(255,255,255,0.3) .1em, transparent .1em), linear-gradient(90deg, rgba(255,255,255,0.3) .1em, transparent .1em);
  background-size: 1.2em 1.2em;
}

.noise {
  /* ... */
  background: 
    url(https://grainy-gradients.vercel.app/noise.svg);
}


.overlay{
  border-image:fill 1 linear-gradient(hsla(0, 0%, 0%, 0.265) , hsla(0, 0%, 0%, 0.081));
}